<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Users
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Picture</th>
              <th (click)="getPageWithSort('name')">Name</th>
              <th (click)="getPageWithSort('validated')">Validated</th>
              <th (click)="getPageWithSort('banned')">Banned</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users" [routerLink]="profile">
              <td>
                <div class="avatar">
                  <img src="{{user.images[0].s3.url}}" *ngIf="user.images.length > 0" class="img-avatar" alt="admin@bootstrapmaster.com" src="{{user.images[0].s3.url}}">
                  <img src="../../../assets/img/logo-symbol.png" *ngIf="user.images.length == 0" class="img-avatar" alt="admin@bootstrapmaster.com" src="../../../assets/img/logo-symbol.png">

                </div>
              </td>
              <td>{{user.name}}</td>
              <td>
                <span class="badge" [ngClass]="userIsValidated(user) ? 'badge-success': 'badge-danger'">{{userIsValidated(user) ? 'Validated':'Pending'}}</span>
              </td>
              <td>
                <span class="badge" [ngClass]="user.banned ? 'badge-danger': 'badge-info'">{{user.banned ? 'Banned':'No banned'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngFor="let n of paginator" [ngClass]=" n == currentPage ? 'active' : ''">
              <a class="page-link" *ngIf="paginator.indexOf(0) == 1" (click)="getPage(paginator.indexOf(0)-1)">Prev</a>
              <a class="page-link" (click)="getPage(n)">{{n}}</a>
              <a class="page-link" *ngIf="paginator.indexOf(paginator.length-1) == numberPages" (click)="getPage(paginator.indexOf(0)-1)">Prev</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
