<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Users
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label">Filter by</label>
            <div class="input-group">
              <span class="input-group-addon">Name</span>
              <input #filteredName type="text" id="username" name="username" (change)="filterUsersByName(filteredName.value)" class="form-control">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>



          <table class="table">
            <thead>
            <tr>
              <th>Picture</th>
              <th (click)="getPageWithSort('name')" style="cursor: pointer">Name</th>
              <th >Validated</th>
              <th (click)="getPageWithSort('banned')" style="cursor: pointer">Banned</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users" [routerLink]="['/users/detail', user._id]">
              <td>
                <div class="avatar">
                  <img src="{{user.images[0].s3.url}}" *ngIf="user.images.length > 0" class="img-avatar" alt="admin@bootstrapmaster.com" src="{{user.images[0].s3.url}}">
                  <img src="../../../assets/img/logo-symbol.png" *ngIf="user.images.length == 0" class="img-avatar" alt="admin@bootstrapmaster.com" src="../../../assets/img/logo-symbol.png">
                </div>
              </td>
              <td>{{user.name}}</td>
              <td>
                <span class="badge" [ngClass]="userIsValidated(user) ? 'badge-success': 'badge-danger'">{{userIsValidated(user) ? 'Validated':'Pending'}}</span>
              </td>
              <td>
                <span class="badge" [ngClass]="user.banned ? 'badge-danger': 'badge-info'">{{user.banned ? 'Banned':'No banned'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngFor="let n of paginator" [ngClass]=" n == currentPage ? 'active' : ''">
              <a class="page-link" (click)="getPage(n)">{{n}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
