<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Venues
          <button type="button" class="btn btn-success" style="float: right;" [routerLink]="['/venues/new']"><i class="fa fa-plus"></i>&nbsp; Add New Venue</button>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label">Filter by</label>
            <div class="input-group">
              <span class="input-group-addon">Name</span>
              <input #filteredName type="text" id="name" name="name" (change)="filterVenuesByName(filteredName.value)" class="form-control">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Picture</th>
              <th (click)="getPageWithSort('name')">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let venue of venues" [routerLink]="['/venues/detail', venue._id]">
              <td>
                <div class="avatar">
                  <img src="{{venue.image.s3.url}}" *ngIf="venue.image != null" class="img-avatar" alt="admin@bootstrapmaster.com" src="{{venue.image.s3.url}}">
                  <img src="../../../assets/img/logo-symbol.png" *ngIf="venue.image == null" class="img-avatar" alt="admin@bootstrapmaster.com" src="../../../assets/img/logo-symbol.png">
                </div>
              </td>
              <td>{{venue.name}}</td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngFor="let n of paginator" [ngClass]=" n == currentPage ? 'active' : ''">
              <a class="page-link" *ngIf="paginator.indexOf(0) == 1" (click)="getPage(paginator.indexOf(0)-1)">Prev</a>
              <a class="page-link" (click)="getPage(n)">{{n}}</a>
              <a class="page-link" *ngIf="paginator.indexOf(paginator.length-1) == numberPages" (click)="getPage(paginator.indexOf(0)-1)">Prev</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
